.container {
    width: 100%;
    padding: 8px;
    border-right: 0.1px solid rgba(0,0,0,0.2);  
    border-left: 0.1px solid rgba(0,0,0,0.2);   
    border-bottom: 0.1px solid rgba(0,0,0,0.2);   
}

.image_list {
    display: flex;
    flex-wrap: wrap;
}

.image_list img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    aspect-ratio: 1;
}