.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.form_mark_photo {
    grid-column: 1;
    padding: 8px;
}

.image_preview {
    grid-column: 2/4;
    border-left: 0.1px solid rgba(0,0,0,0.2);   
    border-bottom: 0.1px solid rgba(0,0,0,0.2);
    border-right: 0.1px solid rgba(0,0,0,0.2);  
}